@model IEnumerable<RestauranteApp.Models.M_Cliente>
@{
    ViewBag.Title = "ListaClientes";
}

<h2>Lista de Clientes</h2>

<p>
    @Html.ActionLink("Crear Cliente", "AgregaClientes")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.ActionLink("Modificar", "ModificaClientes", new { id=item.IdCliente }, new {@class = "btn btn-success btn-sm" }) |
                @Html.ActionLink("Eliminar", "EliminaClientes", new { id = item.IdCliente }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
