@model IEnumerable<RestauranteApp.Models.M_Mesa>

@{
    ViewBag.Title = "ListaMesas";
}

<h2>Lista de Mesas</h2>

<p>
    @Html.ActionLink("Crear Mesa", "AgregaMesa")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdMesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroMesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Modificar", "ModificaMesas", new { id=item.IdMesa}, new { @class = "btn btn-success btn-sm" }) |
                @Html.ActionLink("Eliminar", "EliminaMesas", new { id = item.IdMesa}, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
